<div class="container">
  <form [formGroup]="registroform">
    <div class="form-group">
      <label for="fname">Nombres:</label>
      <input type="text" class="form-control" formControlName="fname"
      [ngClass]="{ 'is-invalid': registroform.get('fname').touched && registroform.get('fname').invalid }">
      <div *ngIf="registroform.get('fname').touched && registroform.get('fname').invalid" class="invalid-feedback">
        <div *ngIf="registroform.get('fname').errors['required']">Este campo es requerido!</div>
      </div>
    </div>
    <div class="form-group">
      <label for="lname">Apellidos:</label>
      <input type="text" class="form-control" formControlName="lname"
      [ngClass]="{ 'is-invalid': registroform.get('lname').touched && registroform.get('lname').invalid }">
      <div *ngIf="registroform.get('lname').touched && registroform.get('lname').invalid" class="invalid-feedback">
        <div>También es requerido!</div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Correo electrónico:</label>
      <input type="email" class="form-control" formControlName="email"
      [ngClass]="{ 'is-invalid': registroform.get('email').touched && registroform.get('email').invalid }">
      <div *ngIf="registroform.get('email').touched && registroform.get('email').invalid" class="invalid-feedback">
        <div *ngIf="registroform.get('email').errors['required']">Correo es requerido!</div>
        <div *ngIf="registroform.get('email').errors['email']">Debe ser una dirección de correo válida!</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Contraseña:</label>
      <input type="text" class="form-control" formControlName="password"
      [ngClass]="{ 'is-invalid': registroform.get('password').touched && registroform.get('password').invalid }">
      <div *ngIf="registroform.get('password').touched && registroform.get('password').invalid" class="invalid-feedback">
        <div *ngIf="registroform.get('password').errors['required']">OBVIO que la contraseña tambien es requerido!</div>
        <div *ngIf="registroform.get('password').errors['minLength']">Debe contener al menos 6 caracteres.</div>
      </div>
    </div>
  </form>
</div>
